.uwuzu-button {
  /**
   * Common
   */
  position: relative;
  inline-size: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;
  text-decoration: none;
  transition: padding-inline 250ms ease-in-out, margin-inline 250ms ease-in-out;
  outline: none;

  /**
   * Color
   */
  &.iro, &.filled {
    color: var(--background-color);
    background-color: var(--main-color);
  }
  &.siro, &.tonal {}
  &.subtle {}
  &.text {}

  /**
   * Size
   */
  &.small {
    block-size: 36px;
  }
  &.medium {
    block-size: 48px;
    border-radius: 24px;
    padding-inline: 24px;
    margin-inline: 8px;
    font-size: 22px;
    font-family: var(--Head-fonts), sans-serif;

    &:hover {
      padding-inline: 32px;
      margin-inline: 0;
    }
    &:active {
      padding-inline: 16px;
      margin-inline: 16px;
    }
  }

  /**
   * Elevation
   */
  &.elevated {}
}
