.uwuzu-card {
  /**
   * Common
   */
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /**
   * Color
   */
  &.outlined {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
  }
  &.elevated {}

  .uwuzu-button {
    align-self: center;
  }
}
