.uwuzu-focus-ring {
  position: absolute;
  inset: 0;
  content: '';
  border-radius: inherit;
  pointer-events: none;
  transition: outline-width 500ms cubic-bezier(0.25, 7.0, 0.5, 7.0);
  outline: 0 solid transparent;

  :focus-visible > & {
    outline: 3px solid var(--text-color);
    outline-offset: 2px;
  }
}
